.button{
    -fx-background-color: #253256;
    -fx-background-radius :  0 0 0 0;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#addButton, #cancelButton, #nextButton, #backButton{
    -fx-min-width: 100;
}

/*
TODO Might need to change the styling of the buttons
   */
.button:hover{
    -fx-background-color: #5299D3;
}

.button:pressed{
    -fx-background-color: #314272;
}

#wizardTitle{
    -fx-background-color: #192139;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-background-radius :  0 0 0 0;
    -fx-label-padding: 5;
    -fx-font-weight: bold;
}

#addEquipmentButton, #deleteEquipmentButton{
    -fx-background-color: #5299d3;
    -fx-background-radius :  0 0 0 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , black, 10,0,2,2 );
}
