.button{
    -fx-background-color: #253256;
}

.button:hover{
    -fx-background-color: #5299D3;
}

.button:pressed{
    -fx-background-color: #314272;
}

/* fix markup for selected cells/cells in a selected row */
.table-row-cell:filled > .table-cell:selected,
.table-row-cell:filled:selected > .table-cell {
    -fx-background-color: #5299D3;
    -fx-table-cell-border-color: derive(-fx-background, 20%);
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected .table-cell,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected {
    -fx-background-color: #5299D3;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view *.label{
    -fx-text-fill: #253256;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #424242;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #253256;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1F2947;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:empty{
    -fx-background-color: transparent;
}

#titleLbl{
    -fx-background-color:  #192139;
    -fx-font-size: 18;
    -fx-background-radius :  0 0 0 0;
    -fx-label-padding: 10;
    -fx-font-weight: bold;
}

/*
Application exit and other controls menu
 */

#topRightMenu .button{
    -fx-background-color: #192139;
    -fx-background-radius: 0;
}

#topRightMenu .button:hover{
    -fx-background-color: #5299D3;

}

#topRightMenu #exitButton:hover{
    -fx-background-color: #CF5C36;
}

/*
Left side navigation menu
 */

#navigationMenu .button {
    -fx-background-color: #253256;
    -fx-background-radius :  0 0 0 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#navigationMenu .button:hover{
    -fx-background-color: #5299D3;
}

#navigationMenu .button:pressed{
    -fx-background-color: #314272;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #18243A;
    -fx-background-color: #18243A;
}

/*
Module specific styling
 */

#toDoControls .button, #loadOutControls .button, #locationControls .button, #employeeControls .button, #inventoryControls .button{
    -fx-background-color: #5299d3;
    -fx-background-radius :  0 0 0 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , black, 10,0,2,2 );
}